
<app-navbar title="Customer Dashboard"></app-navbar>
<section class="manage-exams">
    <div class="dashboard-header">
      <h2>Products</h2>
      <div class="dashboard-btns">
      <button class="add-exam-button" (click)="myCart()">My Cart</button>
      <button class="orders-button" (click)="myOrder()">My Orders</button>
    </div>
    </div>
    @if(loading){
    <p class="loading">Loading products...</p>
    } @else { @if(products.length === 0){
    <p class="no-exam">No tasks found. Please add some tasks.</p>
    } @else{
    <div class="exam-cards">
      <div class="exam-card" *ngFor="let product of products">
        <div class="exam-card-content">
          <h3>{{ product.name }}</h3>
          <p>
            <strong>Quanity Left:</strong>
            {{ product.quantity }}
          </p>
          <p><strong>Status:</strong> {{product.status}}</p>
        </div>
        <div class="actions">
          <button class="action-button" (click)="viewProduct(product.id)">View</button>
          
        </div>
      </div>
    </div>
    } }
  </section>
  